body {
	color: var(--color-base);
	font-family: system-ui;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

button {
	font-size: 100%;
}

// Utils
.wrapper {
	width: min(100% - 2rem, 65rem);
	margin-inline: auto;
	padding-block: 2rem;
}

// Style not needed for components
// Buttons
.btn {
	--_btn-py: 0.75rem;
	--_btn-px: 1.5rem;
	--_btn-c: #fff;
	--_btn-bkg: var(--color-primary);

	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: var(--_btn-py) var(--_btn-px);
	color: var(--_btn-c);

	text-transform: uppercase;

	user-select: none;
	background-color: var(--_btn-bkg);
	border: 1px solid;
	border-radius: 0.45rem;
}

// Burger : Basic style to the nav for example
.main-nav {
	visibility: hidden;
	transform: translateX(-10px);
	transition: all 0.3s linear;

	&.is-open {
		visibility: visible;
		transform: translateX(0);
	}
}
