.accordion {
	--_accordion-w: 100%;
	--_panel-py: 1rem;
	--_panel-px: 1rem;
	--_panel-bkg-color: #fafafa;
	--_panel-border-color: #ccc;
	--_panel-radius: 6px;

	width: min(100%, var(--_accordion-w, 600px));
	margin-inline: auto;

	&__panel {
		position: relative;

		background-color: var(--_panel-bkg-color);
		border: 1px solid transparent;
		border-radius: var(--_panel-radius);

		transition: transform 0.6s var(--trs-inertia);

		&:not(:last-child) {
			margin-block-end: var(--size-2);
		}

		&.is-active {
			.accordion__btn::after {
				transform: rotate(180deg);
			}
		}
	}

	&__btn {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		gap: var(--size-3);

		font-weight: var(--fw-medium);

		padding: var(--_panel-py) var(--_panel-px);
		width: 100%;

		&::after {
			content: "";

			flex-shrink: 0;

			width: 0.75rem;
			aspect-ratio: 1;

			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 4'%3E%3Cpath d='M.818.182 3.5 2.864 6.182.182a.45.45 0 0 1 .636.636l-3 3a.45.45 0 0 1-.636 0l-3-3A.45.45 0 1 1 .818.182Z' fill='%23000' fill-rule='nonzero'/%3E%3C/svg%3E");
		}
	}

	&__content {
		display: none;
		padding: 0 var(--_panel-px) var(--_panel-py);

		font-size: var(--fz-0);

		transition: height 0.35s var(--trs-smooth);
		overflow: hidden;

		.is-active & {
			display: block;
		}
	}
}
