.cards-group {
	--_gap: var(--size-4);

	gap: var(--_gap);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

	&:not(:last-child) {
		margin-block-end: var(--_gap);
	}

	&--horizontal {
		grid-template-columns: 1fr;
	}
}

.card {
	--_card-direction: column;
	--_card-radius: 0.55em;

	position: relative;

	display: flex;
	flex-direction: var(--_card-direction);

	border-radius: var(--_card-radius);
	background-color: #fff;
	box-shadow: var(--shadow-elevation-medium);

	overflow: hidden;

	&__thumb {
		background-color: var(--color-primary-100);
		overflow: hidden;

		img {
			height: 100%;
			object-position: center;
		}
	}

	&__content {
		padding: var(--fluid-size-4);
		align-self: center;
	}

	&--horizontal {
		--_card-direction: row;

		.card__thumb {
			width: 40dvh;
		}
	}
}
