.cards-group {
	--_gap: var(--size-4);

	gap: var(--_gap);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

	&:not(:last-child) {
		margin-block-end: var(--_gap);
	}

	// Modifiers
	&--horizontal {
		grid-template-columns: 1fr;
	}
}

.card {
	--_card-direction: column;
	--_card-radius: 0.55em;
	--_card-bkg: #fff;
	--_card-content-padding: var(--fluid-size-4);

	position: relative;

	display: flex;
	flex-direction: var(--_card-direction);

	border-radius: var(--_card-radius);
	background-color: var(--_card-bkg);
	box-shadow: var(--shadow-elevation-medium);

	overflow: hidden;
}

.card__thumb {
	background-color: var(--color-primary-100);
	overflow: hidden;

	:is(img, picture) {
		height: 100%;
		object-position: center;
	}
}

.card__content {
	padding: var(--_card-content-padding);
	align-self: center;
}

.card__title {
	& + * {
		margin-block-start: var(--size-2);
	}
}

.card--horizontal {
	--_card-direction: row;

	.card__thumb {
		width: 40dvh;
	}
}

.card--reverse {
	flex-direction: row-reverse;
}
