.hero {
	&__inner {
		position: relative;
		display: grid;
	}

	&__thumb,
	&__content {
		grid-area: 1/1;
	}

	&__thumb {
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
