.modal {
	--_content-spacing: 1.5rem;
	--_overlay-color: hsla(0, 0%, 0%, 30%);
	--_content-w: 40rem;
	--_content-max-h: 60vh;
	--_radius: 0.3rem;

	position: fixed;
	inset: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--_overlay-color);
	backdrop-filter: blur(1px);

	// Prevent scroll chaining
	overflow-y: hidden;
	overscroll-behavior-y: contain;

	// Close Statement
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.6s var(--trs-smooth);
}

// The box
.modal__dialog {
	width: min(100% - 1.5rem, var(--_content-w));
	max-height: var(--_content-max-h);
	overflow-y: auto;
	padding: var(--_content-spacing);

	background-color: #fff;
	border-radius: var(--_radius, 0);
	box-shadow: 0 4px 10px -3px rgba($color: #000, $alpha: 0.2);

	// Animate the box
	translate: 0 -50%;
	opacity: 0;
	transition: all 0.8s var(--trs-inertia);
}

.modal__header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	margin-block-end: var(--_content-spacing);
}

.modal__close {
	flex-shrink: 0;
	line-height: 1;
	font-size: 140%;
}

// Open State
.modal.is-visible {
	opacity: 1;
	visibility: visible;

	// Animate the box
	.modal__dialog {
		translate: 0 0;
		opacity: 1;
	}
}
