.pills {
	display: flex;
	align-items: center;
	gap: var(--size-2);

	overflow-x: auto;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;

	margin-inline: calc(var(--size-7) / 2 * -1);

	&::-webkit-scrollbar {
		display: none;
	}

	&__item {
		flex-shrink: 0;
		scroll-snap-align: center;

		&:first-child {
			margin-inline-start: var(--size-5);
		}

		&:last-child {
			margin-inline-end: var(--size-5);
		}
	}
}

.pill {
	display: flex;
	align-items: center;
	justify-content: center;

	padding-inline: var(--size-3);

	color: var(--color-gray-700);

	border: 1px solid var(--color-gray-500);
	border-radius: 100vmax;

	.is-active & {
		border-color: #4d54fb;
		color: #4d54fb;
	}
}
