.c-table {
	--_border-color: var(--color-gray-100);

	width: 100%;

	border-width: 0;
	border-style: solid;
	border-collapse: collapse;

	&--striped {
		& tbody tr:nth-of-type(odd) > * {
			box-shadow: inset 0 0 0 9999px hsl(var(--color-primary-hs), 98%);
		}
	}

	> thead {
		vertical-align: bottom;
		border-bottom: 0.1rem solid var(--_border-color);
	}

	th {
		text-align: -webkit-match-parent;
	}

	tr :is(th, td) {
		display: table-cell;
		padding: 1rem 1.2rem;
		border-bottom: 0.1rem solid var(--_border-color);
	}

	tbody,
	td,
	tfoot,
	th,
	thead,
	tr {
		padding: 0.5rem 0.5rem;
	}
}
