.tabs {
	--_bkg: #fff;
	--_border-c: transparent;
	--_border-radius: 0.25rem;
	--_btn-px: 1.25rem;
	--_btn-py: 0.75rem;
	--_pane-px: var(--_btn-px);
	--_pane-py: 2rem;

	border: 1px solid var(--_border-c, transparent);
	overflow: hidden;

	&__nav {
		display: flex;
		flex-flow: row nowrap;
		position: relative;

		overflow-x: auto;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
	}

	&__btn {
		flex-shrink: 0;

		position: relative;
		margin-block-end: -1px;
		padding: var(--_btn-py) var(--_btn-px);

		scroll-snap-align: center;

		border-radius: var(--_border-radius);

		cursor: pointer;
		transition: opacity 0.3s var(--trs-smooth);

		&:not(.is-active) {
			opacity: 0.8;
			@media (hover: hover) {
				&:hover {
					opacity: 1;
				}
			}
		}

		&.is-active {
			color: var(--color-primary);
			background-color: var(--_bkg);
			border-color: var(--_border-c);

			&::after {
				content: "";
				position: absolute;
				bottom: -1px;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: inherit;
			}
		}

		&:first-child {
			border-left: 0;
		}
	}

	&__pane {
		display: none;
		padding: var(--_pane-py);

		background-color: var(--_bkg);

		&.is-visible {
			display: block;
		}
	}
}
