.toasts-group {
	position: fixed;
	bottom: 5svh;
	left: 50%;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: var(--size-2);

	transform: translateX(-50%);
	overflow: hidden;

	&:empty {
		display: none;
	}
}

.toast {
	--_toast-radius: 6px;

	--_c-success: var(--color-success-hs);
	--_c-warning: var(--color-warning-hs);
	--_c-info: var(--color-info-hs);
	--_c-danger: var(--color-danger-hs);

	// position: absolute;
	// inset: 0;

	margin-inline: auto;
	padding: 0.5em 1em;
	width: 100%;

	display: flex;
	align-items: baseline;
	gap: var(--size-3);

	background-color: #fff;
	box-shadow: 0 4px 12px #0000001a;
	border-radius: var(--_toast-radius, 0);

	transform: translateY(var(--offset)) scale(var(--scale));
	opacity: var(--opacity);

	animation: toastInOut var(--_toast-animation-duration, 4000ms) var(--trs-inertia) forwards;

	> p {
		font-size: var(--fz-0);
	}

	// States
	&--success {
		background-color: hsl(var(--_c-success), 87%);
		color: hsl(var(--_c-success), 11%);
	}

	&--info {
		background-color: hsl(var(--_c-info), 87%);
		color: hsl(var(--_c-info), 11%);
	}

	&--warning {
		background-color: hsl(var(--_c-warning), 89%);
		color: hsl(var(--_c-warning), 11%);
	}

	&--danger {
		background-color: hsl(var(--_c-danger), 92%);
		color: hsl(var(--_c-danger), 11%);
	}

	// If auto close is disabled
	&.has-close-button {
		animation: toastIn var(--_toast-animation-duration, 400ms) var(--trs-inertia) forwards;
	}
}

.toast__close {
	display: flex;
	flex-shrink: 0;

	margin-inline-start: auto;
	font-size: 140%;
	line-height: 1;

	opacity: 0.3;

	&:hover {
		opacity: 0.5;
	}
}

@keyframes toastInOut {
	0%,
	100% {
		transform: translateY(-100%);
		opacity: 0;
	}

	10%,
	90% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes toastIn {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}

	90% {
		transform: translateY(0);
		opacity: 1;
	}
}
