@use "../tools/" as t;

html {
	scroll-behavior: smooth;
}

body {
	color: var(--color-base);
	font-family: "Inter", sans-serif;
	font-size: var(--fz-1);
	background-color: hsl(var(--color-primary-hs), 98%);
}

a:not([class]) {
	color: currentColor;

	&:is(:focus, :hover) {
		text-decoration: none;
	}
}

main:focus {
	outline: none;
}

[href]:hover {
	text-decoration: none;
}

button {
	font-size: 100%;
}

h2 {
	font-size: var(--fz-4);
	font-weight: var(--fw-medium);
	line-height: 1;
}

img {
	width: 100%;
	object-fit: cover;
}

img:not([src$=".png"]) {
	background-color: var(--color-primary-100);
}

// Utils
.wrapper {
	width: min(100% - 2rem, 65rem);
	margin-inline: auto;
	padding-block: 2rem;
}

.section {
	&--full-h {
		display: grid;
		place-content: center;
		height: 100vh;
		background-color: var(--_bg);
	}
}

.components-heading {
	padding-block-end: var(--size-4);
}

// Index page
.components-group {
	> a {
		display: flex;
		align-items: center;
		width: min(50%, 100%);

		padding: var(--size-2);
		color: #333;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		font-weight: bold;

		border: 1px solid;
		border-radius: 0.45rem;
		transition: all 0.2s ease-in;

		&:hover {
			color: #fff;
			background-color: hsl(var(--color-primary-hs), 65%);
		}
	}
}

.component-header {
	> a {
		display: flex;
		gap: var(--size-1);
		align-items: center;
		padding: var(--size-2);

		font-size: 80%;

		&::before {
			content: "";
			width: 1rem;
			height: 1rem;
			display: flex;

			background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.85355 3.14645C7.04882 3.34171 7.04882 3.65829 6.85355 3.85355L3.70711 7H12.5C12.7761 7 13 7.22386 13 7.5C13 7.77614 12.7761 8 12.5 8H3.70711L6.85355 11.1464C7.04882 11.3417 7.04882 11.6583 6.85355 11.8536C6.65829 12.0488 6.34171 12.0488 6.14645 11.8536L2.14645 7.85355C1.95118 7.65829 1.95118 7.34171 2.14645 7.14645L6.14645 3.14645C6.34171 2.95118 6.65829 2.95118 6.85355 3.14645Z' fill='%237158d5' fill-rule='evenodd' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
		}
	}
}

// Style not needed for components
// Burger : Basic style to the nav for example
.main-nav {
	visibility: hidden;
	transform: translateX(-10px);
	transition: all 0.3s linear;

	&.is-open {
		visibility: visible;
		transform: translateX(0);
	}
}

// Load MOre
.col-items {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.cards-actions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--size-3);
	width: max-content;
	margin-inline: auto;
	padding-block: var(--size-6);
}

.js-load-more {
	display: flex;
	padding: var(--size-3);

	text-align: center;
	border-radius: 3px;
	font-size: var(--fz-00);
	text-transform: uppercase;
	letter-spacing: 0.15rem;

	background-color: #fff;
	border: none;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}

.js-load-more:not([disabled]):hover {
	box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
}

.js-load-more[disabled] {
	background-color: #eaeaea !important;
}

.range {
	position: relative;
	height: 8px;
	width: 100%;
	background-color: #fff;
	border-radius: 0.1em;

	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: var(--_range);
		background: var(--_bkg, lightblue);
		border-radius: 0.1em;
	}
}
