@use "../tools/" as t;

html {
	scroll-behavior: smooth;
}

body {
	color: var(--color-base);
	font-family: Heebo;
	font-size: var(--fz-1);
}

a {
	color: currentColor;

	&:is(:focus, :hover) {
		text-decoration: none;
	}
}

main:focus {
	outline: none;
}

[href]:hover {
	text-decoration: none;
}

button {
	font-size: 100%;
}

hr {
	display: block;
	margin-block: var(--size-3);
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid;
	opacity: 0.15;
}

img {
	width: 100%;
	max-width: 100%;
	object-fit: cover;
}

img:not([src$=".png"], [src$=".webp"]) {
	background-color: var(--color-primary-100);
}

figcaption {
	margin-block-start: var(--fluid-size-1);

	font-size: var(--fz-0);
	font-style: italic;
}

blockquote {
	padding-inline-start: var(--size-3);
	font-style: italic;
	border-left: 5px solid;
}
