@use "sass:map";
@use "../vars/index" as *;

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.icon {
	display: flex;
	flex-shrink: 0;

	width: 1em;
	height: 1em;
	margin-top: -0.1rem;

	fill: currentColor;
	overflow: hidden;
}

.spinner {
	display: flex;

	width: 1em;
	aspect-ratio: 1;

	border: 0.15em solid currentColor;
	border-right-color: transparent;
	border-radius: 100vmax;
	animation: spinner-border 0.75s linear infinite;
}

// Spacing
.mx-auto {
	margin-inline: auto;
}

@each $name, $size in $sizes {
	.mt-#{$name} {
		margin-block-start: #{$size};
	}

	.mb-#{$name} {
		margin-block-end: #{$size};
	}

	.ml-#{$name} {
		margin-inline-start: #{$size};
	}

	.mr-#{$name} {
		margin-inline-end: #{$size};
	}

	.my-#{$name} {
		margin-block: #{$size};
	}

	.mx-#{$name} {
		margin-inline: #{$size};
	}

	.pt-#{$name} {
		padding-block-start: #{$size};
	}

	.pb-#{$name} {
		padding-block-end: #{$size};
	}

	.py-#{$name} {
		padding-block: #{$size};
	}

	.pl-#{$name} {
		padding-inline-start: #{$size};
	}

	.pr-#{$name} {
		padding-inline-end: #{$size};
	}

	.px-#{$name} {
		padding-inline: #{$size};
	}
}

.wrapper {
	width: min(100% - var(--size-7), var(--site-width));
	margin-inline: auto;
	padding-inline: var(--site-gutter);
}

.flow > * + * {
	margin-block-end: var(--flow-space, var(--fluid-size-4));
}

:is(h1, h2, h3, blockquote) {
	--flow-space: var(--fluid-size-5);
}

:is(h1, h2, h3) + * {
	--flow-space: var(--fluid-size-5);
}

// Sizes
.w-100 {
	width: 100%;
}

.w-50 {
	width: 50%;
}

// Ratios
.ratio-1 {
	aspect-ratio: 1;
}

.ratio-4-3 {
	aspect-ratio: 4/3;
}

.ratio-3-4 {
	aspect-ratio: 3/4;
}

.ratio-16-9 {
	aspect-ratio: 16/9;
}

.ratio-21-9 {
	aspect-ratio: 21/9;
}

// Texts
.text-x-small {
	font-size: var(--fz-00);
}

.text-small {
	font-size: var(--fz-0);
}

.text-center {
	text-align: center;
}

.list {
	list-style: square;
	list-style-position: inside;
}
