@use "sass:map";

@use "../tools/functions" as *;

$size-base: 1rem;
$sizes: (
	"0": 0,
	"1": $size-base * 0.25,
	"2": $size-base * 0.5,
	"3": $size-base,
	"4": $size-base * 1.5,
	"5": $size-base * 2,
	"6": $size-base * 2.5,
	"7": $size-base * 3,
	"8": $size-base * 3.5,
	"9": $size-base * 4,
	"10": $size-base * 4.5,
	"11": $size-base * 5,
);

$fluid-sizes: (
	"1": fluid(8px, 8px),
	"2": fluid(14px, 16px),
	"3": fluid(20px, 24px),
	"4": fluid(28px, 32px),
	"5": fluid(36px, 40px),
	"6": fluid(42px, 48px),
	"7": fluid(50px, 56px),
);
