<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Accordion</title>
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<header class="component-header">
		<a href="/" class="backlink">Back to components</a>
	</header>
	<main class="wrapper">
		<div class="accordion">
			<div class="accordion__panel">
				<div class="accordion__heading">
					<button class="accordion__btn">Accordion Title</button>
				</div>
				<div class="accordion__content">
					<div class="accordion__inner">
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, sapiente. Rem nisi ea pariatur, nulla alias repellat consequuntur modi consequatur similique! Eum, tempore dolore! Debitis ullam tempore dolorum porro voluptatem!</p>
					</div>
				</div>
			</div>
			<div class="accordion__panel">
				<div class="accordion__heading">
					<button class="accordion__btn">Accordion Title</button>
				</div>
				<div class="accordion__content">
					<div class="accordion__inner">
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, sapiente. Rem nisi ea pariatur, nulla alias repellat consequuntur modi consequatur similique! Eum, tempore dolore! Debitis ullam tempore dolorum porro voluptatem!</p>
					</div>
				</div>
			</div>
			<div class="accordion__panel">
				<div class="accordion__heading">
					<button class="accordion__btn">Accordion Title</button>
				</div>
				<div class="accordion__content">
					<div class="accordion__inner">
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, sapiente. Rem nisi ea pariatur, nulla alias repellat consequuntur modi consequatur similique! Eum, tempore dolore! Debitis ullam tempore dolorum porro voluptatem!</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="../dist/app.js"></script>
</body>

</html>