<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Active Link</title>
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<nav class="sticky-nav js-active-link">
		<ul class="sticky-nav__list">
			<li class="sticky-nav__item is-active">
				<a href="#section1" class="sticky-nav__link">Section 1</a>
			</li>
			<li class="sticky-nav__item">
				<a href="#section2" class="sticky-nav__link">Section 2</a>
			</li>
			<li class="sticky-nav__item">
				<a href="#section3" class="sticky-nav__link">Section 3</a>
			</li>
			<li class="sticky-nav__item">
				<a href="#section4" class="sticky-nav__link">Section 4</a>
			</li>
		</ul>
	</nav>

	<section id="section1" class="section section--full-h" style="--_bg: var(--color-gray-300)">
		<h2>Section 1</h2>
	</section>
	<section id="section2" class="section section--full-h" style="--_bg: var(--color-gray-100)">
		<h2>Section 2</h2>
	</section>
	<section id="section3" class="section section--full-h" style="--_bg: var(--color-gray-500)">
		<h2>Section 3</h2>
	</section>
	<section id="section4" class="section section--full-h" style="--_bg: var(--color-gray-700)">
		<h2>Section 4</h2>
		<a href="/" class="backlink">Back to components</a>
	</section>

	<script type="module" src="../src/js/components/active-link.js"></script>
</body>

</html>