<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add to favorites</title>
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<header class="component-header">
		<a href="/" class="backlink">Back to components</a>
	</header>
	<main class="wrapper">
		<button class="btn add-fav" data-favorite="product-1">Add to favorites</button>
		<button class="btn add-fav" data-favorite="product-2">Add to favorites</button>
		<button class="btn add-fav" data-favorite="product-3">Add to favorites</button>
	</main>
	<script type="module" src="../src/js/components/add-to-favorite.js"></script>
</body>

</html>