<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Burger</title>
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<header class="component-header">
		<a href="/" class="backlink">Back to components</a>
		<div class="wrapper">
			<h1>Burger</h1>
		</div>
	</header>
	<main class="wrapper">
		<button class="burger" data-state="closed" aria-controls="main-nav" aria-expanded="false" aria-label="Ouvrir le menu principal">
			<span class="burger__icon"></span>
		</button>

		<nav class="main-nav" id="main-nav">
			<ul class="main-nav__List">
				<li class="main-nav__item">
					<a href="#" class="main-nav__link">Home</a>
				</li>
				<li class="main-nav__item">
					<a href="#" class="main-nav__link">About</a>
				</li>
				<li class="main-nav__item">
					<a href="#" class="main-nav__link">Contact</a>
				</li>
			</ul>
		</nav>
	</main>
	<script type="module" src="../src/js/components/burger.js"></script>
</body>

</html>