<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Buttons</title>
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<header class="component-header">
		<a href="/" class="backlink">Back to components</a>
	</header>
	<main class="wrapper">
		<div class="btns-group">
			<a href="#" class="btn">Button's Label</a>
			<a href="#" class="btn btn--primary">Primary Button</a>
			<a href="#" class="btn btn--secondary">Secondary Button</a>
			<a href="#" class="btn btn--light">Button's Label</a>
			<a href="#" class="btn btn--dark">Button's Label</a>
		</div>
	</main>
	<script src="../dist/app.js"></script>
</body>

</html>