<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cards</title>
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<header class="component-header">
		<a href="/" class="backlink">Back to components</a>
		<div class="wrapper">
			<h1>Cards</h1>
		</div>
	</header>
	<div class="wrapper flow">
		<h2>Default Cards</h2>
		<div class="cards-group">
			<div class="card" style="--_state: new;">
				<div class="card__thumb ratio-1">
					<img src="https://images.unsplash.com/photo-1523049673857-eb18f1d7b578?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=375&q=80" alt="">
				</div>
				<div class="card__content">
					<h3 class="card__title">Card Title</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
				</div>
			</div>
			<div class="card">
				<div class="card__thumb ratio-1">
					<img src="https://images.unsplash.com/photo-1571771894821-ce9b6c11b08e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=460&q=80" alt="">
				</div>
				<div class="card__content">
					<h3 class="card__title">Card Title</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
				</div>
			</div>
			<div class="card">
				<div class="card__thumb ratio-1">
					<img src="https://images.unsplash.com/photo-1559181567-c3190ca9959b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">
				</div>
				<div class="card__content">
					<h3 class="card__title">Card Title</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
				</div>
			</div>
		</div>
		<h2>Landscape Cards</h2>
		<div class="cards-group cards-group--horizontal">
			<div class="card card--horizontal" style="--_state: new;">
				<div class="card__thumb ratio-1">
					<img src="https://images.unsplash.com/photo-1523049673857-eb18f1d7b578?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=375&q=80" alt="">
				</div>
				<div class="card__content">
					<h3 class="card__title">Card Title</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
				</div>
			</div>
			<div class="card card--horizontal">
				<div class="card__thumb ratio-1">
					<img src="https://images.unsplash.com/photo-1571771894821-ce9b6c11b08e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=460&q=80" alt="">
				</div>
				<div class="card__content">
					<h3 class="card__title">Card Title</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
				</div>
			</div>
			<div class="card card--horizontal">
				<div class="card__thumb ratio-1">
					<img src="https://images.unsplash.com/photo-1559181567-c3190ca9959b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">
				</div>
				<div class="card__content">
					<h3 class="card__title">Card Title</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>