<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cards</title>
	<link rel="apple-touch-icon" sizes="180x180" href="../images/favs/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../images/favs/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../images/favs/favicon-16x16.png">
	<link rel="manifest" href="../images/favs/site.webmanifest">
	<link rel="mask-icon" href="../images/favs/safari-pinned-tab.svg" color="#6c63ff">
	<meta name="msapplication-TileColor" content="#6c63ff">
	<meta name="theme-color" content="#6c63ff">
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<a href="/" class="backlink">Back to components</a>
	<header class="component-header">
		<div class="wrapper">
			<h1>Cards</h1>
		</div>
	</header>
	<div class="wrapper flow">
		<h2>Default Cards</h2>
		<div class="cards-group">
			<div class="card" style="--_state: new;">
				<div class="card__thumb ratio-1">
					<picture>
						<source media="(max-width:479px)" srcset="../images/responsive/avocado-small.webp">
						<source media="(min-width:480px) and (max-width: 799px)" srcset="../images/responsive/avocado-medium.webp">
						<source media="(min-width: 800px)" srcset="../images/responsive/avocado-large.webp">
						<img src="../images/responsive/avocado-large.webp" alt="Card thumb" loading="lazy">
					</picture>
				</div>
				<div class="card__content">
					<h3 class="card__title">Card Title</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
				</div>
			</div>
			<div class="card">
				<div class="card__thumb ratio-1">
					<picture>
						<source media="(max-width:479px)" srcset="../images/responsive/banana-small.webp">
						<source media="(min-width:480px) and (max-width: 799px)" srcset="../images/responsive/banana-medium.webp">
						<source media="(min-width: 800px)" srcset="../images/responsive/banana-large.webp">
						<img src="../images/responsive/banana-large.webp" alt="Card thumb" loading="lazy">
					</picture>
				</div>
				<div class="card__content">
					<h3 class="card__title">Card Title</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
				</div>
			</div>
			<div class="card">
				<div class="card__thumb ratio-1">
					<picture>
						<source media="(max-width:479px)" srcset="../images/responsive/cherry-small.webp">
						<source media="(min-width:480px) and (max-width: 799px)" srcset="../images/responsive/cherry-medium.webp">
						<source media="(min-width: 800px)" srcset="../images/responsive/cherry-large.webp">
						<img src="../images/responsive/cherry-large.webp" alt="Card thumb" loading="lazy">
					</picture>
				</div>
				<div class="card__content">
					<h3 class="card__title">Card Title</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
				</div>
			</div>
		</div>
		<h2>Landscape Cards</h2>
		<div class="cards-group cards-group--horizontal">
			<div class="card card--horizontal" style="--_state: new;">
				<div class="card__thumb ratio-1">
					<picture>
						<source media="(max-width:479px)" srcset="../images/responsive/avocado-small.webp">
						<source media="(min-width:480px) and (max-width: 799px)" srcset="../images/responsive/avocado-medium.webp">
						<source media="(min-width: 800px)" srcset="../images/responsive/avocado-large.webp">
						<img src="../images/responsive/avocado-large.webp" alt="Card thumb" loading="lazy">
					</picture>
				</div>
				<div class="card__content">
					<h3 class="card__title">Card Title</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
				</div>
			</div>
			<div class="card card--horizontal card--reverse">
				<div class="card__thumb ratio-1">
					<picture>
						<source media="(max-width:479px)" srcset="../images/responsive/banana-small.webp">
						<source media="(min-width:480px) and (max-width: 799px)" srcset="../images/responsive/banana-medium.webp">
						<source media="(min-width: 800px)" srcset="../images/responsive/banana-large.webp">
						<img src="../images/responsive/banana-large.webp" alt="Card thumb" loading="lazy">
					</picture>
				</div>
				<div class="card__content">
					<h3 class="card__title">Card Title</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
				</div>
			</div>
			<div class="card card--horizontal">
				<div class="card__thumb ratio-1">
					<picture>
						<source media="(max-width:479px)" srcset="../images/responsive/cherry-small.webp">
						<source media="(min-width:480px) and (max-width: 799px)" srcset="../images/responsive/cherry-medium.webp">
						<source media="(min-width: 800px)" srcset="../images/responsive/cherry-large.webp">
						<img src="../images/responsive/cherry-large.webp" alt="Card thumb" loading="lazy">
					</picture>
				</div>
				<div class="card__content">
					<h3 class="card__title">Card Title</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>