<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Form</title>
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<header class="component-header">
		<a href="/" class="backlink">Back to components</a>
	</header>
	<div class="wrapper">
		<form class="form form--reverse">
			<div class="form__row">
				<div class="form__field">
					<label for="name">Name:</label>
					<input type="text" name="name" id="name" placeholder="Walsh" required>
				</div>
				<div class="form__field">
					<label for="firstname">Firstname:</label>
					<input type="text" name="firstname" id="firstname" placeholder="Mikey" required>
				</div>
			</div>
			<div class="form__row">
				<div class="form__field">
					<label for="pass">Password:</label>
					<div class="password-field">
						<input type="password" name="pass" id="pass" class="js-input-password">
						<button type="button" class="password-field__btn js-toggle-password" aria-label="Show or Hide password"></button>
					</div>
				</div>
			</div>
			<div class="form__row">
				<div class="form__field">
					<label for="address">Address:</label>
					<input type="text" name="address" id="address" placeholder="Astoria">
				</div>
			</div>
			<div class="form__heading">
				<h3>2 - Choose a pet</h3>
			</div>
			<div class="form__row">
				<div class="form__field">
					<label for="friends">Choose a pet :</label>
					<select name="friends" id="friends">
						<option selected="true" disabled="disabled">Choose Tagging</option>
						<option value="dog">Dog</option>
						<option value="cat">Cat</option>
						<option value="hamster">Hamster</option>
						<option value="parrot">Parrot</option>
						<option value="spider">Spider</option>
						<option value="goldfish">Goldfish</option>
					</select>
				</div>
				<div class="form__field">
					<label for="friends">Choose a pet :</label>
					<select name="friends" id="friends">
						<option selected="true" disabled="disabled">Choose Tagging</option>
						<option value="dog">Dog</option>
						<option value="cat">Cat</option>
						<option value="hamster">Hamster</option>
						<option value="parrot">Parrot</option>
						<option value="spider">Spider</option>
						<option value="goldfish">Goldfish</option>
					</select>
				</div>
				<div class="form__field">
					<label for="friends">Choose a pet :</label>
					<select name="friends" id="friends">
						<option selected="true" disabled="disabled">Choose Tagging</option>
						<option value="dog">Dog</option>
						<option value="cat">Cat</option>
						<option value="hamster">Hamster</option>
						<option value="parrot">Parrot</option>
						<option value="spider">Spider</option>
						<option value="goldfish">Goldfish</option>
					</select>
				</div>
			</div>
			<div class="form__row">
				<div class="form__field">
					<label for="message">Message</label>
					<textarea name="messag" id="message"></textarea>
				</div>
			</div>
			<div class="form__row">
				<div class="form__field form__field--checkbox">
					<input type="checkbox" id="scales" name="scales" checked>
					<label for="scales">I have read and accept te privacy policy</label>
				</div>
			</div>
			<div class="form__footer">
				<button class="btn btn--primary btn--full" type="submit">Submit</button>
			</div>
		</form>
	</div>
	<script src="../dist/app.js"></script>
</body>

</html>