<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hero</title>
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<section class="hero">
		<div class="hero__inner">
			<div class="hero__thumb">
				<img src="../images/hero-thumb.jpeg" alt="Hero Thumb">
			</div>
			<div class="hero__content">
				<h1>Hero Section</h1>
			</div>
		</div>
	</section>
	<script src="../dist/app.js"></script>
</body>

</html>