<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hero</title>
	<link rel="apple-touch-icon" sizes="180x180" href="../images/favs/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../images/favs/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../images/favs/favicon-16x16.png">
	<link rel="manifest" href="../images/favs/site.webmanifest">
	<link rel="mask-icon" href="../images/favs/safari-pinned-tab.svg" color="#6c63ff">
	<meta name="msapplication-TileColor" content="#6c63ff">
	<meta name="theme-color" content="#6c63ff">
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<section class="hero">
		<div class="hero__inner">
			<div class="hero__thumb">
				<img src="../images/hero-thumb.jpeg" alt="Hero Thumb">
			</div>
			<div class="hero__content">
				<h1>Hero Section</h1>
			</div>
		</div>
	</section>
	<script src="../dist/app.js" defer></script>
</body>

</html>