<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hero</title>
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<div class="wrapper">
		<div class="cards-ctn col-items col-items--2"></div>
		<div class="cards-actions">
			<div class="cards-action__summary">
				You've viewed
				<span class="js-load-more-count"></span>
				of
				<span class="js-load-more-total"></span>
				cards
			</div>
			<div class="js-load-more-range range">
				<div class="range__inner"></div>
			</div>
			<button class="js-load-more">Load more</button>
		</div>
	</div>
	<script src="../dist/app.js"></script>
</body>

</html>