<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Slider</title>
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<header class="component-header">
		<a href="/" class="backlink">Back to components</a>
		<div class="wrapper">
			<h1>Slider</h1>
		</div>
	</header>
	<main class="wrapper">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">slide 1</div>
				<div class="swiper-slide">slide 2</div>
				<div class="swiper-slide">slide 3</div>
				<div class="swiper-slide">slide 4</div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</main>
	<script type="module" src="../dist/sliders.js"></script>
</body>

</html>