<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Table</title>
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<main class="wrapper">
		<table class="table">
			<tbody>
				<tr>
					<td>Marque</td>
					<td>
						<p>PARADOR</p>
					</td>
				</tr>

				<tr>
					<td>Type de produit</td>
					<td>
						<p>Massif</p>
					</td>
				</tr>

				<tr>
					<td>Utilisation</td>
					<td>
						<p>Bureau, Chambre à coucher, Cuisine, Local commercial, Pièce à vivre, Salle de bains, Sous-sol</p>
					</td>
				</tr>

				<tr>
					<td>Décor</td>
					<td>
						<p>Chêne, Vieux bois</p>
					</td>
				</tr>

				<tr>
					<td>Format</td>
					<td>
						<p>Lame large</p>
					</td>
				</tr>

			</tbody>
		</table>
	</main>
	<script src="../dist/app.js"></script>
</body>

</html>