<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Table</title>
	<link rel="apple-touch-icon" sizes="180x180" href="../images/favs/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../images/favs/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../images/favs/favicon-16x16.png">
	<link rel="manifest" href="../images/favs/site.webmanifest">
	<link rel="mask-icon" href="../images/favs/safari-pinned-tab.svg" color="#6c63ff">
	<meta name="msapplication-TileColor" content="#6c63ff">
	<meta name="theme-color" content="#6c63ff">
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<a href="/" class="backlink">Back to components</a>
	<header class="component-header">
		<div class="wrapper">
			<h1>Table</h1>
		</div>
	</header>
	<main class="wrapper">
		<table class="c-table mb-5">
			<tbody>
				<tr>
					<td>Marque</td>
					<td>
						<p>PARADOR</p>
					</td>
				</tr>

				<tr>
					<td>Type de produit</td>
					<td>
						<p>Massif</p>
					</td>
				</tr>

				<tr>
					<td>Utilisation</td>
					<td>
						<p>Bureau, Chambre à coucher, Cuisine, Local commercial, Pièce à vivre, Salle de bains, Sous-sol</p>
					</td>
				</tr>

				<tr>
					<td>Décor</td>
					<td>
						<p>Chêne, Vieux bois</p>
					</td>
				</tr>

				<tr>
					<td>Format</td>
					<td>
						<p>Lame large</p>
					</td>
				</tr>

			</tbody>
		</table>
		<table class="c-table c-table--striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">First</th>
					<th scope="col">Last</th>
					<th scope="col">Handle</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td colspan="2">Larry the Bird</td>
					<td>@twitter</td>
				</tr>
			</tbody>
		</table>
	</main>
	<script src="../dist/app.js" defer></script>
	<script>
		const $tds = document.querySelectorAll('td')
		const td = [...$tds].map(item => {
			return item;
		})

		console.log(td);

	</script>
</body>

</html>