<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tooltip</title>
	<link rel="stylesheet" href="../dist/app.css">
</head>

<body>
	<header class="component-header">
		<a href="/" class="backlink">Back to components</a>
	</header>
	<main class="wrapper flow">
		<h2>No js</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, quas maxime totam perferendis nam amet quo, corrupti, <span class="tooltip" data-tooltip="Text of the tooltip">Hover me</span> necessitatibus eveniet incidunt deleniti! Aliquid similique officiis, ab cupiditate ducimus temporibus quae earum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quisquam atque accusantium repellendus autem cumque, <span class="tooltip tooltip--right" data-tooltip="Text of the tooltip">Hover me</span> voluptates dolore non esse dolorem accusamus repudiandae. Voluptate, vitae. Quas vero vel deleniti earum dolorum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quisquam atque accusantium repellendus autem cumque, <span class="tooltip tooltip--bottom" data-tooltip="Text of the tooltip">Hover me</span> voluptates dolore non esse dolorem accusamus repudiandae. Voluptate, vitae. Quas vero vel deleniti earum dolorum.</p>

		<button class="btn tooltip tooltip--left" data-tooltip="Text of the tooltip">Hover me</button>
	</main>

	<script src="../dist/app.js"></script>
</body>

</html>