@use "sass:math";

// Convert px To Rem
@function px-to-rem($px) {
	$rems: math.div($px, 16px) * 1rem;
	@return $rems;
}

// Fluid size with clamp
@function fluid($min-size, $max-size, $min-breakpoint: 375px, $max-breakpoint: 1200px, $unit: vw) {
	$slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
	$slope-to-unit: $slope * 100;
	$intercept-rem: px-to-rem($min-size - $slope * $min-breakpoint);
	$min-size-rem: px-to-rem($min-size);
	$max-size-rem: px-to-rem($max-size);
	@return clamp(#{$min-size-rem}, #{$slope-to-unit}#{$unit} + #{$intercept-rem}, #{$max-size-rem});
}
