@use "sass:map";
@use "../vars/index" as *;

$bp-large: "(940.9px <= width)"; //"(min-width: 940.9px)";
$bp-medium: "(min-width: 640.9px) and (max-width: 960px)";
$bp-small: "(max-width: 640px)";

:root {
	// HS colors value for hsl use
	@each $color, $value in $base-colors {
		--color-#{$color}-hs: #{$value};
	}

	// Primary Colors Scale
	@each $name, $value in $primary-colors-scale {
		--color-primary-#{$name}: hsl(#{$value});
	}

	// Scondary Colors Scale
	@each $name, $value in $secondary-colors-scale {
		--color-secondary-#{$name}: hsl(#{$value});
	}

	// Gray Colors Scale
	@each $name, $value in $gray-colors-scale {
		--color-gray-#{$name}: hsl(#{$value});
	}

	// Theme Colors
	--color-base: var(--color-gray-900);
	--color-primary: var(--color-primary-500);
	--color-secondary: var(--color-secondary-500);

	// Sizes
	@each $name, $size in $sizes {
		--size-#{$name}: #{$size};
	}

	// Fluid Sizes
	@each $name, $size in $fluid-sizes {
		--fluid-size-#{$name}: #{$size};
	}

	// Fonts Families
	--font-base: "poppins", sans-serif;
	--font-heading: "poppins", sans-serif;

	// Font sizes
	@each $name, $size in $fonts-sizes {
		--fz-#{$name}: #{$size};
	}

	// Font weights
	@each $name, $weight in $fonts-weights {
		--fw-#{$name}: #{$weight};
	}

	// Transitions
	--trs-smooth: cubic-bezier(0.62, 0.16, 0.13, 1.01);
	--trs-inertia: cubic-bezier(0.5, -0.53, 0.14, 1.23);
}
